{# templates/default/adminpanel.html.twig #}
{% extends 'base.html.twig' %}

{% block adminpanel %}
    <p>ADMIN PANEL TEST</p>
    <ul class="ms-5">
        <li>Compléter Profil</li>
        <li>Nouvelle annonce</li>
        <li>Nouveau consultant</li>
    </ul>
{% endblock %}