{# templates/default/backoffice.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="h-100 row">
        <aside class="h-100 backOfficePanel col-3">

            <div class="row ps-4">

                <h1 class="ms-4">TRT CONSEIL APP</h1>

                <h2>Bonjour {{user.nom}} {{user.prénom}}!</h2>
                <p><i>voir profil</i></p>

                {% block sectionPanel %}
                {% endblock %}

                <div class="mt-3">
                    <a href="/logout">Déconnexion</a>
                </div>

            </div>

            
        </aside>

        <div class="backOfficeMainView col-8 m-5 row">

            {% block sectionMain %}
            {% endblock %}
            
        </div>

    </div>

{% endblock %}