{# templates/default/backoffice.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="h-100 row">
        <aside class="h-100 backOfficePanel col-3">

            <div class="row ps-4">

                <h1 class="ms-4">TRT CONSEIL APP</h1>

                <h2>Bonjour {{user.nom}} {{user.prénom}} !</h2>
                <p><i>voir profil</i></p>

                {{ user.userType==4 ? block("adminpanel", "/default/adminpanel.twig") : '' }}
                
                {#<ul class="ms-5">
                    <li>Compléter Profil</li>
                    <li>Nouvelle annonce</li>
                    <li>Nouveau consultant</li>
                </ul>#}

                <div>
                    <a href="/connection">Déconnexion</a>
                </div>

            </div>

            
        </aside>

        <div class="backOfficeMainView col-8 m-5 row">

            <div class="annonce row">
                <div class="col-9">
                    <h3>Titre annonce</h3>
                    <p>adresse annonce</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.........</p>
                </div>

                <div class="col-2 pt-3">
                    <div class="row">
                        <button class="btn btn-primary m-2">Voir annonce</button>
                    </div>

                    <div class="row">
                        <button class="btn btn-primary m-2">Postuler</button>
                    </div>
                </div>
            </div>

            <div class="annonce row">
                <div class="col-9">
                    <h3>Titre annonce</h3>
                    <p>adresse annonce</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.........</p>
                </div>

                <div class="col-2 pt-3">
                    <div class="row">
                        <button class="btn btn-primary m-2">Voir annonce</button>
                    </div>

                    <div class="row">
                        <button class="btn btn-primary m-2">Postuler</button>
                    </div>
                </div>
            </div>

            <div class="annonce row">
                <div class="col-9">
                    <h3>Titre annonce</h3>
                    <p>adresse annonce</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.........</p>
                </div>

                <div class="col-2 pt-3">
                    <div class="row">
                        <button class="btn btn-primary m-2">Voir annonce</button>
                    </div>

                    <div class="row">
                        <button class="btn btn-primary m-2">Postuler</button>
                    </div>
                </div>
            </div>

            <div class="annonce row">
                <div class="col-9">
                    <h3>Titre annonce</h3>
                    <p>adresse annonce</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.........</p>
                </div>

                <div class="col-2 pt-3">
                    <div class="row">
                        <button class="btn btn-primary m-2">Voir annonce</button>
                    </div>

                    <div class="row">
                        <button class="btn btn-primary m-2">Postuler</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}