{# templates/default/connection.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <section class="row align-items-center h-100">

        <div class="col-6 mx-auto form-wrapper">

            <h1 class="mx-auto col-6">TRT CONSEIL APP</h1>

            <div class="{{ errorMessage=='' ? 'd-none' :'error-display-box' }}">
                <p class="p-3"><b>{{errorMessage}}</b><p>
            </div>

            {{ form(form) }}

            <div class="row">
                <div class="ps-5 col-9">
                    <a href="/register"><i>Vous n'avez pas de compte ?</i></a>
                </div>

                <div class="mb-3 col-3">
                    <a href="/backoffice">Admin link to backoffice</a>
                </div>
            </div> 
            
        </div>

    </section>
    
{% endblock %}