{# templates/default/candidatpanel.twig #}
{% extends 'default/backoffice.html.twig' %}

{% block sectionPanel %}
    <p>CANDIDAT PANEL TEST</p>
    <ul class="ms-5">
        <li><a href={{ url('completeprofilcandidat', {'id': user.id}) }}>Compléter mon profil</a></li>
        <li><a href={{ url('getannoncelist', {'id': user.id}) }}>Voir les annonces</a></li>
        <li><a href={{ url('getcandidature', {'id': user.id}) }}>Voir mes candidatures</a></li>
    </ul>
{% endblock %}

{% block sectionMain %}

    
    
{% endblock %}