{# templates/default/consultant.twig #}
{% extends 'default/backoffice.html.twig' %}

{% block sectionPanel %}
    <p>CONSULTANT PANEL TEST</p>
    <ul class="ms-5">
        <li><a href={{ url('validationcomptelist', {'id': user.id}) }}>Validation de compte</a></li>
    </ul>
{% endblock %}

{% block sectionMain %}

    {% block validation %}{% endblock %}
    
{% endblock %}