{# templates/default/recruteurpanel.twig #}
{% extends 'base.html.twig' %}

{% block recruteurpanel %}
    <p>RECRUTEUR PANEL TEST</p>
    <ul class="ms-5">
        <li>Compléter Profil</li>
        <li>Nouvelle annonce</li>
        <li>Nouveau consultant</li>
    </ul>
{% endblock %}