html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

aside {
    margin: 0;
    padding: 0;
}

ul,ol,li,a,i {
    margin: 0;
    padding: 0;
}

/* Authentification & Register Form wrapper*/
.form-wrapper {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

/* Back Office left panel*/ 
.backOfficePanel {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    border: 2px solid blue;
}

.backOfficeMainView {
    border-radius: 10px;
}

.annonce {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    border: 2px solid blue;
    height: 16vh;
}

.error-display-box {
    background-color: rgb(224, 194, 194);
    border-radius: 50px;
    color: red;
    width: fit-content;
}

.validate-display-box {
    background-color: rgb(176, 243, 196);
    border-radius: 50px;
    color: green;
    width: fit-content;
}

.hiddenDiv {
    display: none;
}

.showDiv {
    display: initial;
}