{# templates/default/annonce.twig #}
{% extends 'backoffice.html.twig' %}

{% block annonce %}
    <div class="annonce row">
        <div class="col-9">
            <h3>Titre annonce</h3>
            <p>adresse annonce</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.........</p>
        </div>

        <div class="col-2 pt-3">
            <div class="row">
                <button class="btn btn-primary m-2">Voir annonce</button>
            </div>

            <div class="row">
                <button class="btn btn-primary m-2">Postuler</button>
            </div>
        </div>
    </div>
{% endblock %}