{# templates/default/validationconsultant.twig #}
{% extends 'utilisateur/consultant.twig' %}

{% block validation %}
    
    <div class="annonce row">
        <div>
            <p>Compte USER : ID EMAIL PASSWORD</p>
        </div>
        
    </div>

{% endblock %}